<h1>{{title}}</h1>

<div class="card card-sm">
  <!-- Informaci贸n del usuario -->
  <p><strong>Nombre:</strong> {{user.first_name}}</p>
  <p><strong>Apellido:</strong> {{user.last_name}}</p>
  <p><strong>Correo electr贸nico:</strong> {{user.email}}</p>
  <p><strong>Edad:</strong> {{user.age}}</p>
  <p><strong>Rol:</strong> {{user.role}}</p>

  <!-- Bot贸n para cerrar sesi贸n -->
  <form action="/logout" method="get">
    <button type="submit">Salir</button>
  </form>
</div>
